<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lara.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:label="Rast mlijecnih zuba"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".zubici"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dodatno"
            android:launchMode="singleTask"
            >

        </activity>

        <activity android:name=".detaljanopis"
        android:launchMode="singleTask"
        >

         </activity>
        <activity android:name=".listasvega"
            android:launchMode="singleTask"
            >

        </activity>
        <activity android:name=".pocetni"
            android:launchMode="singleTask"
            >

        </activity>
    </application>

</manifest>